<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>First Name</mat-label>
    <input matInput formControlName="firstName" placeholder="firstName" value="Johnny">
    <mat-error>
      {{ error.firstName }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="lastName" placeholder="lastName" value="Huang">
    <mat-error>
      {{ error.lastName }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>SSN</mat-label>
    <input matInput formControlName="ssn" placeholder="SSN" value="1234123132">
    <mat-error>
      {{ error.ssn }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" placeholder="Email">
    <mat-error>
      {{ error.email }}
    </mat-error>
  </mat-form-field>

  <ng-container formArrayName="favoriteFoods">
    <ng-container *ngFor="let controls of favoriteFoods.controls;let i = index">
      <ng-container [formGroupName] = "i">
        <mat-form-field class="example-full-width" >
          <mat-label>FoodCal</mat-label>
          <input matInput formControlName="foodCal" placeholder="foodCal">
          <mat-error *ngIf="error.favoriteFoods">
            {{ error.favoriteFoods[i].foodCal }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" >
          <mat-label>FoodName</mat-label>
          <input matInput formControlName="foodName" placeholder="foodName">
          <mat-error *ngIf="error.favoriteFoods">
            {{ error.favoriteFoods[i].foodName }}
          </mat-error>
        </mat-form-field>
      </ng-container>
    </ng-container>
  </ng-container>
  <button type="submit">submit</button>
</form>
